MONGODB_URL=your_mongodb_uri
PORT=6600
SERVER_URL=http://localhost:6600/api/files
CLIENT_URL=http://localhost:5173
NODE_ENV=development

JWT_SECRET="your_secret_jwt_key"

# Azure Blob Storage Configuration
AZURE_STORAGE_CONNECTION_STRING="your_azure_storage_connection_string"
AZURE_CONTAINER_NAME="your_container_name"

MAIL_USER=your@gmail.com
MAIL_PASS=your_email_password

BASE_URL=http://localhost:6600
